# Игнорировать виртуальное окружение
venv/
.venv/

# Игнорировать файлы переменных окружения и конфиги
.env

# Игнорировать кэш и байт-код Python
__pycache__/
*.py[cod]

# Игнорировать среды разработки и IDE
.idea/
.vscode/

# Логи
*.log